<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Event</title>
</head>
<body>
<!--
    @{} : URL 표현식 context root 를 자동으로 찾아준다.
    ${} : variable 표현식
    *{} : selection 표현식
-->
<form action="#" th:action="@{/static/events}" method="post" th:object="${event}">
    <p th:if="${#fields.hasErrors('limit')}" th:errors="*{limit}">Incorrect date</p>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect name</p>
    <input type="text" title="name" th:field="*{name}">
    <input type="text" title="limit" th:field="*{limit}">
    <input type="submit" value="create">
</form>

</body>
</html>